@model IEnumerable<Assignment2.Models.ShiftScheduleDetails>

@{
    ViewData["Title"] = "CreateShift";
    var id = ViewData["id"];
}

<h1>Shifts</h1>

<p>
    <a href="@Url.Action("CreateShift", new { id = @id })" class="btn btn-primary">Create Shift</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start_Datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours_Scheduled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours_Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Start_Datetime)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Hours_Scheduled)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Hours_Completed)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Supervisor)
                </td>
                <td>
                    <a href="@Url.Action("EditShift", new { id = @id, start_datetime = @item.Start_Datetime })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("DeleteShift", new { id = @id, start_datetime = @item.Start_Datetime })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
