@model IEnumerable<Assignment2.Models.ShiftScheduleDetails>

@{
    ViewData["Title"] = "Shifts";
}

<h1>Shifts</h1>
<p>
    <a asp-action="Assign" class="btn btn-primary">Assign New Shift</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Start Time</th>
            <th>Scheduled Hours</th>
            <th>Completed Hours</th>
            <th>Supervisor</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Start_Datetime</td>
                <td>@item.Hours_Scheduled</td>
                <td>@item.Hours_Completed</td>
                <td>@item.Supervisor</td>

                <td>
                    <a asp-action="EditShift" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-controller="Shift"
                       asp-action="AvailableEmployeesForShift"
                       asp-route-shiftStart="@item.Start_Datetime"
                       class="btn btn-info mt-1">
                        View Available Employees
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
