@model IEnumerable<Assignment2.Models.Customer_Service_Scheduled>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scheduled_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rendered_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service_Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Satisfaction_Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Scheduled_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rendered_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service_Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Satisfaction_Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
